<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon_qiwi"
        android:label="@string/app_name"
        android:name=".presentation.ApplicationModule"
        android:roundIcon="@drawable/icon_qiwi"
        android:supportsRtl="true"
        android:theme="@style/SellersApplication"
        tools:targetApi="33"
        android:hardwareAccelerated="true">
        <activity
            android:name=".presentation.ui.activities.ActivityMain"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>